  .logo {
    height: 40vmin;
    pointer-events: none;
  }
  
 /* ANIMATED BACKGROUND */
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* background: #3E1E68; */
    /* background: #FF5D8F; */
    /* background: #832161; */
    background: #621848;
    overflow: hidden;
  }
  
  .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -9999;
  }
  
  
  .background span:nth-child(0) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 93%;
    left: 51%;
    animation-duration: 37s;
    animation-delay: -46s;
    transform-origin: -12vw 18vh;
    box-shadow: -40vmin 0 5.8658128109086665vmin currentColor;
  }
  .background span:nth-child(1) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 34%;
    left: 57%;
    animation-duration: 19s;
    animation-delay: -21s;
    transform-origin: -1vw 22vh;
    box-shadow: 40vmin 0 5.223790124760869vmin currentColor;
  }
  .background span:nth-child(2) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 46%;
    left: 8%;
    animation-duration: 37s;
    animation-delay: -13s;
    transform-origin: 25vw -9vh;
    box-shadow: -40vmin 0 5.493632891588022vmin currentColor;
  }
  .background span:nth-child(3) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 16%;
    left: 17%;
    animation-duration: 54s;
    animation-delay: -50s;
    transform-origin: -6vw -7vh;
    box-shadow: -40vmin 0 5.989653464619552vmin currentColor;
  }
  .background span:nth-child(4) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 45%;
    left: 93%;
    animation-duration: 7s;
    animation-delay: -37s;
    transform-origin: 12vw -7vh;
    box-shadow: 40vmin 0 5.024170150064601vmin currentColor;
  }
  .background span:nth-child(5) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 91%;
    left: 25%;
    animation-duration: 17s;
    animation-delay: -16s;
    transform-origin: -10vw 6vh;
    box-shadow: -40vmin 0 5.390607442204047vmin currentColor;
  }
  .background span:nth-child(6) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 97%;
    left: 93%;
    animation-duration: 12s;
    animation-delay: -23s;
    transform-origin: -13vw 18vh;
    box-shadow: 40vmin 0 5.665503178990173vmin currentColor;
  }
  .background span:nth-child(7) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 72%;
    left: 3%;
    animation-duration: 36s;
    animation-delay: -39s;
    transform-origin: 20vw 9vh;
    box-shadow: -40vmin 0 5.02066830364905vmin currentColor;
  }
  .background span:nth-child(8) {
    /* color: #583C87; */
    color: #F52EFF;
    top: 84%;
    left: 34%;
    animation-duration: 30s;
    animation-delay: -18s;
    transform-origin: -16vw 0vh;
    box-shadow: 40vmin 0 5.984115679524866vmin currentColor;
  }
  .background span:nth-child(9) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 86%;
    left: 59%;
    animation-duration: 20s;
    animation-delay: -30s;
    transform-origin: -21vw 19vh;
    box-shadow: 40vmin 0 5.838583003920084vmin currentColor;
  }
  .background span:nth-child(10) {
    /* color: #583C87; */
    color: #F52EFF;
    top: 98%;
    left: 48%;
    animation-duration: 41s;
    animation-delay: -46s;
    transform-origin: 24vw 5vh;
    box-shadow: 40vmin 0 5.020591425972237vmin currentColor;
  }
  .background span:nth-child(11) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 52%;
    left: 54%;
    animation-duration: 28s;
    animation-delay: -49s;
    transform-origin: -5vw 12vh;
    box-shadow: -40vmin 0 5.822057610303315vmin currentColor;
  }
  .background span:nth-child(12) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 49%;
    left: 23%;
    animation-duration: 45s;
    animation-delay: -8s;
    transform-origin: 0vw 14vh;
    box-shadow: 40vmin 0 5.083905179193237vmin currentColor;
  }
  .background span:nth-child(13) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 34%;
    left: 90%;
    animation-duration: 28s;
    animation-delay: -21s;
    transform-origin: 17vw 20vh;
    box-shadow: -40vmin 0 5.891905882788052vmin currentColor;
  }
  .background span:nth-child(14) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 38%;
    left: 29%;
    animation-duration: 51s;
    animation-delay: -41s;
    transform-origin: 20vw -15vh;
    box-shadow: 40vmin 0 5.440500705652593vmin currentColor;
  }
  .background span:nth-child(15) {
    /* color: #583C87; */
    color: #F52EFF;
    top: 12%;
    left: 3%;
    animation-duration: 9s;
    animation-delay: -12s;
    transform-origin: 13vw 10vh;
    box-shadow: -40vmin 0 5.0850340599722434vmin currentColor;
  }
  .background span:nth-child(16) {
    /* color: #FFACAC; */
    color: #FF5D8F;
    top: 4%;
    left: 28%;
    animation-duration: 47s;
    animation-delay: -25s;
    transform-origin: -7vw 11vh;
    box-shadow: 40vmin 0 5.754431387604241vmin currentColor;
  }
  .background span:nth-child(17) {
    /* color: #583C87; */
    color: #F52EFF;
    top: 90%;
    left: 42%;
    animation-duration: 37s;
    animation-delay: -32s;
    transform-origin: -7vw 0vh;
    box-shadow: 40vmin 0 5.510459977133715vmin currentColor;
  }
  .background span:nth-child(18) {
    /* color: #583C87; */
    color: #F52EFF;
    top: 38%;
    left: 69%;
    animation-duration: 14s;
    animation-delay: -31s;
    transform-origin: -3vw -21vh;
    box-shadow: -40vmin 0 5.461591963962321vmin currentColor;
  }
  .background span:nth-child(19) {
    /* color: #E45A84; */
    color: #FF5CBE;
    top: 98%;
    left: 79%;
    animation-duration: 48s;
    animation-delay: -41s;
    transform-origin: 15vw -14vh;
    box-shadow: -40vmin 0 5.727332742800056vmin currentColor;
  }
  
  /* NEON TITLES */

  .neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  
    animation: pulsate 1.5s infinite alternate;  
   
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
  }
}